---
layout: default
---
<a href="/">&lt;-- home</a><br>
<input id ="password" type = "password"/>
<button onclick="testHuman()">Click me</button>

<div id="randomdata">
    <div class="blog">
        <br>
    <h1>Entries: </h1><br>
        <ul>
            {% for post in site.posts %}
            {% if post.secondary == 'secondary' %}
            <li>
                <span class="date">{{ post.date | date: '%Y %b %d' }}</span> - <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<script>
document.getElementById("randomdata").style.display = 'none';

function testHuman(){
    var d = new Date();
    var test = d.getDate();
    if(document.getElementById("password").value == test){
        document.getElementById("randomdata").style.display = 'block';
    }
    else{
        document.getElementById("randomdata").style.display = 'none';
    }
}
</script>
