
<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
        <p>Original articles on this site are <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">CC BY-NC-SA</a>
            licensed unless otherwise stated. </p>
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

    </div>

  </div>

</footer>
